<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/bootstrap-3.3.5-dist/css/bootstrap.min.css">
		<script type="text/javascript" src="/static/jquery2_1_4.js"></script>
		<script type="text/javascript" src="/static/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
		<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
		<title>{% block title %}AtmosLog{% endblock %}</title>

		<style>
			body {
				background-color: #FFF5EE;
				font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;;
			}
			#navbar{
				margin-left:-20px;
				margin-right:-15px;
			}
			{% block style %}
			{% endblock %}
		</style>

		<script type="text/javascript">
		{% block script %}
		{% endblock %}
		</script>
	</head>

	<body>
		<div class="whole">
			<div class="container-fluid">
				<div id="navbar">
					{% block nav %}
						<nav class="navbar navbar-inverse">
						  <div class="container-fluid">
						    <div class="navbar-header">
						      <a class="navbar-brand" href="/">Atmoslog</a>
						    </div>
						    <div>
						    	{% block navbarspec %}
							      <ul class="nav navbar-nav">
							        <li class="active"><a href="/">Home</a></li>
							        <li><a href="/docs/getstarted">Get Started</a></li>
							        <li><a href="/pricing">Pricing</a></li> 
							        <li><a href="/docs">Documentation</a></li> 
							      </ul>
							      <ul class="nav navbar-nav navbar-right">
							      	{% if authenticated %}
							      	<li class="dropdown">
							          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user }} <span class="caret"></span></a>
							          <ul class="dropdown-menu" role="menu">
							            <li><a href="/create">Create a new project</a></li>
							            <li><a href="/account/">View your profile</a></li>
							            <li class="divider"></li>
							            <li><a href="/logout">Logout</a></li>
							          </ul>
							        </li>
							        {% else %}
							        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
							        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
							        {% endif %}
							      </ul>
							    {% endblock navbarspec %}
						    </div>
						  </div>
						</nav>
					{% endblock %}
				</div>

				<div id="content">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>

</html>