{% extends "base_temp.html" %}

{% block title %}AtmosLog: Login{% endblock %}

{% block content %}
<div class="container">
    <div class-"center-block">
        {% if status == "started" %}
            {# Just the normal form #}
        {% elif status == "success" %}
            {# Should have already redirected #}
        {% elif status == "inactive" %}
            <div class="alert alert-danger">
                <strong>Alert!</strong>Account has expired. Visit atmoslog support.
            </div>
        {% elif status == "failed" %}
            <div class="alert alert-warning">
                Incorrect username and/or password. Try again.
            </div>
        {% endif %}

        <form method="post" action="/login/">
        {% csrf_token %}
        <table>
        <tr>
            <p>Username</p>
            <input type="text" id="username" name="username" placeholder="Username">
        </tr>
        <tr>
            <p>Password</p>
            <input type="password" id="password" name="password" placeholder="Password">
        </tr>
        </table>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>
{% endblock %}