{% extends "tables.html" %}

{% block inside %}
<div class="panel panel-default">
	<div class="panel-heading">Project details</div>
		<div class="panel-body">
			<ul class="nav nav-pills">
			  <li role="presentation" class="active"><a href="#details" data-toggle="pill">Details</a></li>
			  <li role="presentation"><a href="#funds" data-toggle="pill">Funds</a></li>
			</ul>
		</br>
			<div class="tab-content">
				<div id="details" class="tab-pane fade in active">
					<p><strong>Name: </strong>{{ specific_project }}</p>
					<p><strong>Description: </strong>{{ project_description }}</p>
					<p><strong>Funds Remaining: </strong>{{ project_funds }}</p>
					<p><strong>Access: </strong>{{ project_access }}</p>
					<p><strong>Free Logs Remaining: </strong>{{ project_free_logs }}</p>
					<p><strong>Created: </strong>{{ project_date_created }}</p>
					<p><strong>Secret Key: </strong>{{ secret_key }}</p>
				</div>

				<div id="funds" class="tab-pane fade in active">
					<h3 class="text-center">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}