{% extends "tables.html" %}

{% block inside %}
<div class="panel panel-default">
	<div class="panel-heading">Project details</div>
		<div class="panel-body">
			<div class="text-center">
				<ul class="nav nav-pills">
				  <li role="presentation" class="active"><a href="#details" data-toggle="pill">Details</a></li>
				  <li role="presentation"><a href="#funds" data-toggle="pill">Funds</a></li>
				  <li role="presentation"><a href="#settings" data-toggle="pill">Settings</a></li>
				</ul>
			</div>
		</br>
				<div class="tab-content">
					<div id="details" class="tab-pane fade in active">
						<p><strong>Name: </strong>{{ specific_project }}</p>
						<p><strong>Description: </strong>{{ project_description }}</p>
						<p><strong>Funds Remaining: </strong>{{ project_funds }}</p>
						<p><strong>Access: </strong>{{ project_access }}</p>
						<p><strong>Free Logs Remaining: </strong>{{ project_free_logs }}</p>
						<p><strong>Created: </strong>{{ project_date_created }}</p>
						<p><strong>Secret Key: </strong>{{ secret_key }} {% if reset_key %}<span class="label label-danger">New Key Created!</span>{% endif %}</p>
					</div>

				<div id="funds" class="tab-pane fade">
					<h3 class="text-center">Add funds</h3>
				</div>

				<div id="settings" class="tab-pane fade">
					<h3 class="text-center">Edit project</h3>
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							{% if "name_length" in issues2%}
					            <div class="alert alert-warning">
					                <p class="text-center">The project name must be between 4 and 50 characters.</p>
					            </div>
					        {% endif %}
					        {% if "name_char" in issues2%}
					            <div class="alert alert-warning">
					               <p class="text-center">The project name can only contain alphanumeric characters and underscores.</p>
					            </div>
					        {% endif %}
					        {% if "description_length" in issues2%}
					            <div class="alert alert-warning">
					               <p class="text-center">The project description must be less than 500 characters.</p>
					            </div>
					        {% endif %}
					        {% if "name_taken" in issues2%}
					            <div class="alert alert-warning">
					               <p class="text-center">This project name already exists.</p>
					            </div>
					        {% endif %}

							<form method="post" action="/log/{{ specific_project }}/" role="form">
				                {% csrf_token %}
				                {% if "name_char" in issues2 or "name_length" in issues2 or "name_taken" in issues2 %}
				                    <div class="form-group has-error has-feedback">
				                {% elif not edit_first %}
				                    <div class="form-group has-success has-feedback">
				                {% else %}
				                    <div class="form-group">
				                {% endif %}
				                    <label for="edit_name">Project Name</label>
				                    <input type="text" class="form-control" id="edit_name" name="edit_name" value={{ edit_name }}>
				                {% if "name_char" in issues2 or "name_length" in issues2 or "name_taken" in issues2 %}
				                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
				                {% elif not edit_first %}
				                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
				                {% endif %}
				                </div>

				                {% if "description_length" in issues2 %}
				                    <div class="form-group has-error has-feedback">
				                {% elif not edit_first %}
				                    <div class="form-group has-success has-feedback">
				                {% else %}
				                    <div class="form-group">
				                {% endif %}
				                    <label for="edit_description">Project Description</label>
				                    <textarea class="form-control" id="edit_description" name="edit_description" rows="4">{{edit_description}}</textarea>
				                {% if "name_char" in issues %}
				                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
				                {% elif not edit_first %}
				                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
				                {% endif %}
				                </div>

				                <div class="checkbox">
				                    <label><input id="acc2" name="acc2[]" value="public" type="checkbox" {% if edit_access_final == "public" %}checked{% endif %}>Public?</label>
				                </div>

				                <div class="form-group">
				                	<label for"edit_quanqual">Default Table Type:</label>
					                <select class="form-control" id="edit_quanqual" name="edit_quanqual" title="edit_quanqual">
					                	{% if edit_default_tabletype == "qualitative" %}
					                		<option value="qualitative">Qualitative</option>
					                		<option value="quantitative_discrete">Quantitative Discrete</option>
					                		<option value="quantitative_continuous">Quantitative Continuous</option>
					                	{% elif edit_default_tabletype == "quantitative_discrete" %}
					                		<option value="quantitative_discrete">Quantitative Discrete</option>
					                		<option value="quantitative_continuous">Quantitative Continuous</option>
					                		<option value="qualitative">Qualitative</option>
					                	{% elif edit_default_tabletype == "quantitative_continuous" %}
					                		<option value="quantitative_continuous">Quantitative Continuous</option>
					                		<option value="qualitative">Qualitative</option>
					                		<option value="quantitative_discrete">Quantitative Discrete</option>
					                	{% endif %}
					                </select>
				           		</div>

				                <div class="text-center">
				                    <button type="submit" value="update" class="btn btn-default">Update</button>
				                </div>
				                <input type="hidden" name="formtype" value="edit_project" />
				            </form>

				        </br>
				            <div class="panel panel-warning">
				            	<div class="panel-heading">
									<h3 class="panel-title">Project Control</h3>
								</div>
				            	<div class="panel-body">
					            	<form method="post" action="/log/{{ specific_project }}/" role="form">
					                	{% csrf_token %}
					                	<div class="text-center">
						                    <button type="submit" value="update" class="btn btn-danger">Reset Secret Key</button>
						                </div>
						                <input type="hidden" name="formtype" value="reset_key" />
					            	</form>
				            	</div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}