{% extends "base.html" %}

{% block title %}AtmosLog: Register{% endblock %}

{% block style %}
@media (min-width: 400px) {
.container{
    max-width: 400px;
    min-width: 200px;
    vertical-align: middle;
    float: none;
}

.centered{
    text-align: center;
}

{% endblock %}

{% block content %}
<div class="container">
    <div class-"center-block">
         {% if "username_taken" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">Username has already been taken.</p>
            </div>
        {% endif %}
        {% if "username_length" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">The username must be between 4 and 50 characters.</p>
            </div>
        {% endif %}
        {% if "username_char" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">The username can only contain alphanumeric characters and underscores.</p>
            </div>
        {% endif %}
        {% if "password_length" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">The password must be between 6 and 50 characters.</p>
            </div>
        {% endif %}
        {% if "firstname_char" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">The first name can only contain letters and spaces.</p>
            </div>
        {% endif %}
        {% if "lastname_char" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">The last name can only contain letters and spaces.</p>
        {% endif %}
        {% if "email_char" in issues%}
            <div class="alert alert-warning">
                <p class="text-center">The email is invalid.</p>
            </div>
        {% endif %}

        <h3 class="text-center">Register</h3>
        <div class="well">
            <form method="post" action="/register/" role="form">
                {% csrf_token %}
                {% if "username_length" in issues or "username_taken" in issues or "username_char" in issues%}
                    <div class="form-group has-error has-feedback">
                {% elif not first %}
                    <div class="form-group has-success has-feedback">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value={{ username_init }}>
                {% if "username_length" in issues or "username_taken" in issues or "username_char" in issues %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {% elif not first %}
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                {% endif %}
                </div>

                {% if "firstnam_char" in issues %}
                    <div class="form-group has-error has-feedback">
                {% elif not first %}
                    <div class="form-group has-success has-feedback">
                {% else %}
                    <div class="form-group">
                {% endif %}
                     <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Optional" value={{ firstname_init }}>
                {% if "firstname_char" in issues %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {% elif not first %}
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                {% endif %}
                </div>

                {% if "lastname_char" in issues %}
                    <div class="form-group has-error has-feedback">
                {% elif not first %}
                    <div class="form-group has-success has-feedback">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Optional" value= {{ lastname_init }}>
                {% if "lastname_char" in issues %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {% elif not first %}
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                {% endif %}
                </div>

                {% if "password_length" in issues %}
                    <div class="form-group has-error has-feedback">
                {% elif not first %}
                    <div class="form-group has-success has-feedback">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" value= {{ password_init }}>
                {% if "password_length" in issues %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {% elif not first %}
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                {% endif %}
                </div>

                {% if "email_char" in issues %}
                    <div class="form-group has-error has-feedback">
                {% elif not first %}
                    <div class="form-group has-success has-feedback">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email">
                {% if "email_char" in issues %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {% elif not first %}
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                {% endif %}
                </div>

                <div class-"centered">
                    <button type="submit" value="login" class="btn btn-default">Submit</button>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}

{# Leave the right part of the navbar blank #}
{% block navbarright %}
<li><a href="/">Home</a></li>
<li><a href="/getstarted">Get Started</a></li>
<li><a href="/pricing">Pricing</a></li> 
<li><a href="/docs">Documentation</a></li> 
{% endblock %}