{% extends "tables.html" %}

{% block include %}
<script src="/static/Chart.js"></script>
{% endblock %}

{% block addstyle %}
.center-pills {
	display: inline-block;
}
#legend > ul {
  list-style: none;
}
#legend ul li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
#legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}
#chart-area > * {
  float:left;
}
#legend {
	margin-top: 50px;
	position: relative;
}
#graph_header{
	margin-top: 0px;
	margin-bottom: -7px;
}
#graph_header_2{
	margin-top: -5px;
	margin-bottom: -7px;
}
.vertical-text{
    margin-top: 90px;
    float: right;
    margin-right: -27px;
}
{% endblock %}

{% block addscript %}

$(document).ready(function(){
	$('#tabledrop li a').click(function(event){
		$('.dropdown-menu li.active').removeClass('active');
	});
	$('#deletetable').click(function(event){
		return window.confirm("Are you sure you want to delete this table? All data will be irreversibly erased.");
	});
});

{% endblock %}

{% block inside %}
<div class="panel panel-default">
	<div class="panel-heading">Viewing table:<strong> {{ specific_table }} </strong></div>
	<div class="panel-body">
		<div class="col-md-12 text-center">
			<ul class="nav nav-pills center-pills">
			  <li role="presentation"><a href=".logs" data-toggle="pill" data-target=".logs">Logs</a></li>
			  <li role="presentation" {% if default_tab == "analysis" %}class="active"{% endif %}><a href=".analysis" data-toggle="pill" data-target=".analysis">Analysis</a></li>
			  <li role="presentation" {% if default_tab == "settings" %}class="active"{% endif %}><a href=".settings" data-toggle="pill" data-target=".settings">Settings</a></li>
			</ul>
		</div>

		<div class="tab-content">
			<div id="logs" class="tab-pane fade logs">
				<!--
				{% if logcount != 0 %}
						<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						    View last logs
						    <span class="caret"></span>
						  </button>
						  <ul id="tabledrop" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						    <li role="presentation"><a role="menuitem" href="#10" data-toggle="tab" data-target="#10">Last 10</a></li>
						    {% if logcount > 10 %}
						    	<li role="presentation"><a role="menuitem" href="#20" data-toggle="tab" data-target="#20">Last 20</a></li>
						    {% endif %}
						    {% if logcount > 20 %}
						    	<li role="presentation"><a role="menuitem" href="#50" data-toggle="tab" data-target="#50">Last 50</a></li>
						    {% endif %}
						    {% if logcount > 50 %}
						   		<li role="presentation"><a role="menuitem" href="#100" data-toggle="tab" data-target="#100">Last 100</a></li>
						    {% endif %}
						  </ul>
						</div>
						<div class="tab-content">
							<div id="10" class="tab-pane active">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>
											</th>
										</tr>
									</thead>
									<tbody>
										{% for log in logs %}
											<tr>
												<td>{{ log.0 }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							<div id="20" class="tab-pane">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>
											</th>
										</tr>
									</thead>
									<tbody>
										{% for log in logs %}
											<tr>
												<td>{{ log.0 }}</td>
												<td>{{ log.1 }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							<div id="50" class="tab-pane">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>
											</th>
										</tr>
									</thead>
									<tbody>
										{% for log in logs %}
											<tr>
												<td>{{ log.0 }}</td>
												<td>{{ log.1 }}</td>
												<td>{{ log.2 }}</td>
												<td>{{ log.3 }}</td>
												<td>{{ log.4 }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							<div id="100" class="tab-pane">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>
											</th>
										</tr>
									</thead>
									<tbody>
										{% for log in logs %}
											<tr>
												<td>{{ log.0 }}</td>
												<td>{{ log.1 }}</td>
												<td>{{ log.2 }}</td>
												<td>{{ log.3 }}</td>
												<td>{{ log.4 }}</td>
												<td>{{ log.5 }}</td>
												<td>{{ log.6 }}</td>
												<td>{{ log.7 }}</td>
												<td>{{ log.8 }}</td>
												<td>{{ log.9 }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
						</div>
					</div>
					{% else %}
					<p>Create your first log. Visit "<a href="/docs/getstarted/">Get Started</a>" to begin.
					</br>
					</br>
					{% endif %}
					<h4>Statistics</h4>
					<p>Amount of logs: {{ logcount }}</p>
				-->

			</div> <!-- tab pane -->
			
			<!-- Analysis page -->
			<div id="analysis" class="tab-pane fade {% if default_tab == "analysis" %}in active{% endif %} analysis">
				<div class="row">
					<div class="col-md-5">
						<table class="table">
							<thead>
								<tr>
									<th class="col-md-7">Log Type</th>
									<th class="col-md-5">Number</th>
								</tr>
							</thead>
							<tbody>
								{% if logcount != 0 %}
									{% for log in freq_log %}
										<tr>
											<td>{{ log.0 }}</td>
											<td>{{ log.1 }}</td>
										</tr>
									{% endfor %}
								{% else %}
										<tr>
											<td>No logs yet</td>
										</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
					<div class="col-md-7">
						<h3 class="text-center" id="graph_header">Log Frequency</h3>
						<hr>
						{% if logcount != 0 %}
						<div class="row">
							<div class="col-md-7">
								<div id="canvas-holder">
									<canvas id="frequency-chart" width="500" height="400"></canvas>
								</div>
							</div>
							<div class="col-md-5">
								<div id="legend"></div>
							</div>
						</div>
						{% endif %}
					</br>
						{% if logcount != 0 %}
						<h3 class="text-center" id="graph_header_2">Logs Inserted over Time</h3>
						<hr style="margin-bottom: 5px;">
						<div class="row">
							<div class="col-md-12">
								<div id="canvas-holder2 text-center" style="width:100%">
									<canvas id="timeGraph" width="200" height="100"></canvas>
								</div>
								<p class="text-center" style="margin-top: -10px">{{ time_scale }} ago</p>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				{% if logcount != 0 %}
				<script>
					//Scripts for graphs
					var doughnutData = [
					{
						value: {{ ch1_data.1 }},
						color:"#04173F",
						label: "{{ ch1_data.0}}"
					},
					{% if type_amt > 1 %}
					{
						value: {{ ch1_data.3 }},
						color: "#122D67",
						label: "{{ ch1_data.2}}"
					},
					{% endif %}
					{% if type_amt > 2 %}
					{
						value: {{ ch1_data.5 }},
						color: "#254589",
						label: "{{ ch1_data.4}}"
					},
					{% endif %}
					{% if type_amt > 3 %}
					{
						value: {{ ch1_data.7 }},
						color: "#47629C",
						label: "{{ ch1_data.6}}"
					},
					{% endif %}
					{% if type_amt > 4 %}
					{
						value: {{ ch1_data.9 }},
						color: "#8297C4",
						label: "{{ ch1_data.8}}"
					}
					{% endif %}
				];
				var lineChartData = {
					labels: [{% for entry in ch2_data %}"{{ entry.datetime }}", {% endfor %}],
					datasets : [
						{
							label: "dataset1",
							fillColor : "rgba(151,187,205,0.2)",
							strokeColor : "rgba(151,187,205,1)",
							pointColor : "rgba(151,187,205,1)",
							pointStrokeColor : "#fff",
							pointHighlightFill : "#fff",
							pointHighlightStroke : "rgba(151,187,205,1)",
							data : [{% for entry in ch2_data %}{{ entry.count }}, {% endfor %}],
						}]
				}
				window.onload = function(){
					//Doughnut graph
					var ctx = document.getElementById("frequency-chart").getContext("2d");
					window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {
						responsive : true,
				    	tooltipTemplate: {{tooltipTemplate|safe}},
				    	animationSteps: 70,
				    	animationEasing: "easeOutQuint",
					});
					document.getElementById('legend').innerHTML = window.myDoughnut.generateLegend();
					//Line graph
					var ctx2 = document.getElementById("timeGraph").getContext("2d");
					window.myLine = new Chart(ctx2).Line(lineChartData, {
						responsive: true,
						showTooltips: false,
						pointDot: false,
						scaleLabel: " <%=value%>",
						scaleFontFamily: 'Segoe UI',
					});
				};

				</script>
				{% endif %}
			</div>

			<!-- Settinsg page -->
			<div id="settings" class="tab-pane fade {% if default_tab == "settings" %}in active{% endif %} settings">
			</br></br>
				<h3 class="text-center">Edit table</h3>
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							{% if "name_length" in issues2%}
					            <div class="alert alert-warning">
					                <p class="text-center">The table name must be between 4 and 50 characters.</p>
					            </div>
					        {% endif %}
					        {% if "name_char" in issues2%}
					            <div class="alert alert-warning">
					               <p class="text-center">The table name can only contain alphanumeric characters and underscores.</p>
					            </div>
					        {% endif %}
					        {% if "name_taken" in issues2%}
					            <div class="alert alert-warning">
					               <p class="text-center">This table name already exists.</p>
					            </div>
					        {% endif %}

							<form method="post" action="/log/{{ specific_project }}/{{ specific_table }}/" role="form">
				                {% csrf_token %}
				                {% if "name_char" in issues2 or "name_length" in issues2 or "name_taken" in issues2 %}
				                    <div class="form-group has-error has-feedback">
				                {% elif not edit_first %}
				                    <div class="form-group has-success has-feedback">
				                {% else %}
				                    <div class="form-group">
				                {% endif %}
				                    <label for="edit_name">Project Name</label>
				                    <input type="text" class="form-control" id="edit_name" name="edit_name" value={{ edit_name }}>
				                {% if "name_char" in issues2 or "name_length" in issues2 or "name_taken" in issues2 %}
				                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
				                {% elif not edit_first %}
				                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
				                {% endif %}
				                </div>

				                <div class="form-group">
				                	<label for"edit_quanqual">Table Type:</label>
					                <select class="form-control" id="edit_quanqual" name="edit_quanqual" title="edit_quanqual">
					                	{% if edit_tabletype == "qualitative" %}
					                		<option value="qualitative">Qualitative</option>
					                		<option value="quantitative_discrete">Quantitative Discrete</option>
					                		<option value="quantitative_continuous">Quantitative Continuous</option>
					                	{% elif edit_tabletype == "quantitative_discrete" %}
					                		<option value="quantitative_discrete">Quantitative Discrete</option>
					                		<option value="quantitative_continuous">Quantitative Continuous</option>
					                		<option value="qualitative">Qualitative</option>
					                	{% elif edit_tabletype == "quantitative_continuous" %}
					                		<option value="quantitative_continuous">Quantitative Continuous</option>
					                		<option value="qualitative">Qualitative</option>
					                		<option value="quantitative_discrete">Quantitative Discrete</option>
					                	{% endif %}
					                </select>
				           		</div>

				                <div class="text-center">
				                    <button type="submit" value="update" class="btn btn-default">Update</button>
				                </div>
				                <input type="hidden" name="formtype" value="edit_table" />
				            </form>

				        </br>
				            <div class="panel panel-warning">
				            	<div class="panel-heading">
									<h3 class="panel-title">Project Control</h3>
								</div>
				            	<div class="panel-body">
					            	<form method="post" action="/log/{{ specific_project }}/{{ specific_table }}/" role="form">
					                	{% csrf_token %}
					                	<div class="text-center">
						                    <button type="submit" value="delete" class="btn btn-danger" id="deletetable">Delete Table</button>
						                </div>
						                <input type="hidden" name="formtype" value="delete_table" />
					            	</form>
				            	</div> <!-- panel body -->
				            </div> <!-- panel -->
				        </div> <!-- column -->
				    </div> <!-- row -->
			</div>
		</div> <!-- tab content -->
	</div> <!-- panel body -->
</div> <!-- whole panel -->
{% endblock %}