<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
		<title>AtmosLog: Logging Database and Data Analysis</title>

		<style>
			body{
				background-color: #FFF5EE;
				min-height: 1080px;
				font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;;
			}
			.top{
				margin-left:-20px;
				margin-right:-15px;
				position: relative;
				background: url("/static/atmoslog_main/backgrounds/clouds.jpeg");
				background-repeat: no-repeat; 
				min-height: 585px;
 				background-position: top center;
			}
			#headtitle{
				position: relative;
			    text-align: center;
			    margin-top: 200px;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    color: white;
			    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
			    font-size: 70px;
			}
			.descript{
				display: block;
				margin-top: 20px;
				font-size: 36px;
			}
			#headbutton{
				margin-top: 20px;
			}
			.mainarrow{
				margin-top: 40px;
			}
			.basiclist{
				margin-bottom: -2px;
			}
		</style>

		<script type="text/javascript">
			$(document).ready(function(){
				$("#sendfeedback").on('click' ,function(){
					var feedback = $("#feedbackbox").val();
					$.get('/send_feedback', {text: feedback}, function(data){
					});
					$(this).button('complete')
				});	
			});
		</script>
	</head>

	<body>
		<div class="whole">
			<div class="container-fluid">
					<div class="top">
						<div id="navbar">
								<nav class="navbar navbar-inverse">
								  <div class="container-fluid">
								    <div class="navbar-header">
								      <a class="navbar-brand" href="/">Atmoslog</a>
								    </div>
								    <div>
									      <ul class="nav navbar-nav">
									        <li class="active"><a href="/">Home</a></li>
									        <li><a href="/docs/getstarted">Get Started</a></li>
									        <li><a href="/pricing">Pricing</a></li> 
									        <li><a href="/docs">Documentation</a></li> 
									        <li><a href="/updates">Updates</a></li>
									      </ul>
									      <ul class="nav navbar-nav navbar-right">
									      {% if authenticated %}
									      	<li class="dropdown">
									          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user }} <span class="caret"></span></a>
									          <ul class="dropdown-menu" role="menu">
									            <li><a href="/create">Create a new project</a></li>
									            <li><a href="/account/">View your profile</a></li>
									            <li class="divider"></li>
									            <li><a href="/logout">Logout</a></li>
									          </ul>
									        </li>
									      </ul>
									      {% else %}
									        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
									        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
									      </ul>
									      {% endif %}
								    </div>
								  </div>
								</nav>
						</div>
						<div id="content">
							<h1 id="headtitle">AtmosLog<small class="descript">Break through the Cloud</small></h1>
							<div class="text-center">
								<a id="headbutton" class="btn btn-primary btn-lg" href="/getstarted" role="button">Get Started</a>
							</div>
						</div>
					</div>
					<div class="information">
					</div>
				</div>
			<div class="container">
				<!-- How it works -->	
				<div class="page-header">
					<h1 class="text-center">How it works</h1>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="text-center">
							<img src="" alt="tablets and computers">
							<p>1. Send, log, and record small pieces of data through our API</p>
							<a href="/docs/"><u>API Documentation</u></a>
						</div>
					</div>
					<div class="col-md-1">
						<div class="text-center">
							<span class="glyphicon glyphicon-arrow-right mainarrow" aria-hidden="true"></span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="text-center">
							<img src="" alt="stack of servers">
							<p>2. Our servers provide great uptime, free, unlimited data storage, and handle sharding and replication to allow your apps to scale infinitly.</p>
							<a href="/pricing/"><u>Pricing</u></a>
						</div>
					</div>
					<div class="col-md-1">
						<div class="text-center">
							<span class="glyphicon glyphicon-arrow-right mainarrow" aria-hidden="true"></span>
						</div>
					</div>
					<div class="col-md-3">
						<div class="text-center">
							<img src="" alt="analysis table view">
							<p>3. Overview and analyze your data for free from anywhere. Automatically generate charts and graphs to monitor your data.</p>
							<a href="/create/"><u>Create a project</u></a>
						</div>
					</div> 	
				</div> <!-- row -->
				</br>
				<div class="page-header">
					<h1 class="text-center">Why Atmoslog?</h1>
				</div>
					<div class="row">
						<div class="col-md-5">
							<div class="text-center">
								<p>Log data from anywhere:</p>
								<p class="basiclist">- A website's server</p>
								<p class="basiclist">- A mobile device</p>
								<p class="basiclist">- Any machine or appliance connected to the cloud<p>
							</div>
						</div>
						<div class="col-md-5 col-md-offset-2">
							<ul>
								<li>Same pricing scheme and advanced toolkit for everyone</li>
								<li>The more you log, the cheaper it gets</li>
								<li>No barrier for expansion. No limits on scaling</li>
							</ul>
						</div>
					</div>
				</br>
				<div class="page-header">
					<h1 class="text-center">Get in touch</h1>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="input-group">
					      <input type="text" id="feedbackbox" class="form-control" aria-label="feedback_send" placeholder="Enter feedback, comments, compliments, concerns, or bugs"></input>
					      <div class="input-group-btn" data-toggle="buttons">
					        <button id="sendfeedback" class="btn btn-default" type="button" data-complete-text="Sent!" autocomplete="off">Send</button>
					      </div> <!-- /btn-group -->
					    </div> <!-- /input-group -->
					</div> <!-- column -->
				</div> <!-- row -->
			</br>
				<p class="text-center">To get support, send an email to <a href="mailTo:support@atmoslog.com">support@atmoslog.com</a></p>
				<p class="text-center">For business or information inquiries, send an email to <a href="mailTo:contact@atmoslog.com">contact@atmoslog.com</a></p>
			<div class="container">
				<!-- Footer -->

			</div>
		</div>
	</body>

</html>