{% extends "base.html" %}

{% block title %}Atmoslog: Pricing{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h2 class="text-center">Pricing</h2>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Amount of Logs</th>
						<th>Price (per 10k logs)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>0 to 10 million</td>
						<td>0.06¢</td>
					</tr>
					<tr>
						<td>10 million to 100 million</td>
						<td>0.03¢</td>
					</tr>
					<tr>
						<td>100 million to 1 billion</td>
						<td>0.015¢</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block navbarspec %}
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/docs/getstarted">Get Started</a></li>
    <li class="active"><a href="/pricing">Pricing</a></li> 
    <li><a href="/docs">Documentation</a></li> 
  </ul>
  <ul class="nav navbar-nav navbar-right">
  	{% if authenticated %}
  	<li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user }} <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/create">Create a new project</a></li>
        <li><a href="/account/">View your profile</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </li>
    {% else %}
    <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
  </ul>
{% endblock navbarspec %}